/*.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.badge, .btn, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .z-depth-1 {
   -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 10px 0 rgba(0,0,0,0);
   box-shadow: 0 0px 0px 0 rgba(0,0,0,.0), 0 0px 10px 0 rgba(0,0,0,0);
}*/


/*@media (min-width: 768px){
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    .navbar-expand-lg .navbar-collapse{
        display: flex!important;
    width: 100%;
}*/
}
html{
    box-sizing: border-box;
    font-family: sans-serif;
    line-height: 1.15;
}
*, ::after, ::before {
    -webkit-box-sizing: inherit;
    box-sizing: inherit;
}
body{
    margin: 0;
}
html {
    -ms-overflow-style: scrollbar;
    -webkit-tap-highlight-color: transparent;
}
.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
@media (min-width: 768px){
    .navbar-toggleable-sm .navbar-collapse {
    display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
    display: flex!important;
    width: 100%;
}
    /*.navbar-toggleable-sm .navbar-collapse {
        display: -webkit-box!important;
        display: -webkit-flex!important;
        display: -ms-flexbox!important;
        display: flex;
        width: 80%;
        clear: both;
        position: relative;
        float: right;
    }*/
    .navbar-toggleable-sm {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-flex-wrap: nowrap;
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
        -webkit-box-align: center;
        -webkit-align-items: center;
        -ms-flex-align: center;
        align-items: center;
    }
}
/*.navbar {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .5rem 1rem;
}*/
.justify-content-end {
    -webkit-box-pack: end!important;
    -webkit-justify-content: flex-end!important;
    -ms-flex-pack: end!important;
    justify-content: flex-end!important;
}
article, aside, footer, header, nav, section {
    display: block;
}
.navbar {
    /* position: relative; */
    /* float: left; */
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    padding: .5rem 1rem;
}
.navbar-nav {
    display: -ms-flexbox;
    display: -webkit-box;
    -ms-flex-direction: column;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
}
.navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open > .nav-link {
    color: #f9461d !important;
}
.navbar.navbar-light .breadcrumb .nav-item .nav-link, .navbar.navbar-light .navbar-nav .nav-item .nav-link {
    color: #fff;
    -webkit-transition: .35s;
    transition: .35s;
}
div#navbarCollapse {
    position: relative;
    top: -45px;
    margin-bottom: -35px;
}

/*fix header*/
.badge, .btn, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .z-depth-1 {
   -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 10px 0 rgba(0,0,0,0);
   box-shadow: 0 0px 0px 0 rgba(0,0,0,.0), 0 0px 10px 0 rgba(0,0,0,0);
}