.item_info .item_info_dl {
    margin: 0 0 13px;
}
.item_info .item_info_dl dd {
    color: #9b9b9b;
    font-size: 13px;
    margin: 0 14px 0 0;
    display: inline;
}
.item_info .item_info_dl dd > * {
    display: inline;
}
time, .item_hits, .item_category-name address, .item_createdby {
    white-space: nowrap;
    margin: 0;
}
.item_info .item_info_dl dd .tags:before, .item_info .item_info_dl dd .item_createdby:before, .item_info .item_info_dl dd .item_hits:before, .item_info .item_info_dl dd .item_published:before, .item_info .item_info_dl dd .item_category-name:before, .item_info .item_info_dl dd .kmt-comment:before {
    color: #ec9d21;
}
.item_info .item_info_dl dd .item_createdby:before {
    content: "\f103";
}
.item_info .item_info_dl dd .tags:before, .item_info .item_info_dl dd .item_createdby:before, .item_info .item_info_dl dd .item_hits:before, .item_info .item_info_dl dd .item_published:before, .item_info .item_info_dl dd .item_category-name:before, .item_info .item_info_dl dd .kmt-comment:before {
    font: normal normal normal 14px/1 'Material Design Icons';    font-style: normal;
    font-variant-ligatures: normal;
    font-variant-caps: normal;
    font-variant-numeric: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 14px;
    line-height: 1;
    font-family: "Material Design Icons";
    color: #ec9d21;
    margin-right: 2px;
}
