.fixed-top {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
}
.badge, .btn, .card:not([class*=card-outline-]), .chip, .jumbotron, .modal-dialog.cascading-modal .modal-c-tabs .nav-tabs, .modal-dialog.modal-notify .modal-header, .navbar, .pagination .active .page-link, .z-depth-1 {
   -webkit-box-shadow: 0 0px 0px 0 rgba(0,0,0,0), 0 0px 10px 0 rgba(0,0,0,0);
   box-shadow: 0 0px 0px 0 rgba(0,0,0,.0), 0 0px 10px 0 rgba(0,0,0,0);
}


@media (min-width: 768px){
	display: -webkit-box!important;
    display: -webkit-flex!important;
    display: -ms-flexbox!important;
	.navbar-expand-lg .navbar-collapse{
	    display: flex!important;
    width: 100%;
}
}